[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# pyqt5designer = "*"
# auto-py-to-exe = "*"
#psycopg2 = "*"
#pyqt5-stubs = "*"

[packages]
chardet = "*"
marshmallow = "*"
#psycopg2-binary = "*"
pyqt5 = "*"
requests = "*"
rsa = "*"
#pyjwt = "*"

[requires]
# python_version = "3.10"
