[logging]
;logs_dir=C:/Users/slava/.poker/app/logs/
;log_file=${logs_dir}poker.log
level=10
;format=[%(asctime)s] %(levelname).1s  ::  %(message)s
;datefmt=%Y.%m.%d %H:%M:%S
log_rotate=true
;file_mode=a
;rotation.maxBytes=5242880
;rotation.backupCount=5

[server]
request_timeout=0.5