import os
import logging

SERVER_NAME = 'Poker game server'
SERVER_VERSION = '1.0.0'

DEBUG = False
LISTEN_ADDR = 'localhost'
LISTEN_PORT = 2100
WORKERS = 2

LOGGING = {
    'filename': None,
    'level': logging.DEBUG if DEBUG else logging.INFO,
    'format': '[%(asctime)s] %(levelname).1s %(message)s',
    'datefmt': '%Y.%m.%d %H:%M:%S'
}

DOCUMENT_ROOT = os.path.normpath(os.path.join(os.path.expanduser('~'), '.poker', 'server'))
DATA_DIR = os.path.join(DOCUMENT_ROOT, 'data')
FILESTORE_DIR = os.path.join(DATA_DIR, 'files')

DATABASE = {
    'host': 'localhost',
    'port': 5432,
    'dbname': 'poker',
    'user': 'user',
    'password': 'pass'
}

RSA_PRIVATE_KEY = ''

RSA_PUBLIC_KEY = ''